/*3*/
p {
    color: blue;
    font-size: 18px;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    color: rgb(192, 24, 24);
}
body {
    background-color: rgb(237, 233, 227);
}

.style1{
    border-radius: 40px;
    max-width: 300%;
    height: 1000;
}

img:hover{
    opacity: 0.5;
}

button{
    box-shadow: inset 0 0 0 0 transparent;
}
